<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @association_type.name %>
</p>

<%= link_to 'Edit', edit_association_type_path(@association_type) %> |
<%= link_to 'Back', association_types_path %>
