<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<%= button_to 'Start', {:controller => "matrices", :action => "matrix_entry", :name => 'Diet-Coke'}, :method=>:get  %>
</body>