<p class="center"> How related are the following drinks to <%= @drink.name %>?</p>
<p class="center"> Please drag and drop in the respective circles </p>	

<div class="drinkList">
<% @associate_with.each do |associate_drink| %>
	<div class="drinkName"> 
		<span class="name dragMe" id="<%= associate_drink.name %>" > <%= associate_drink.name %> </span>
	</div>
<% end %>
</div>

<div class="buckets">
	<div>
		<div id="very" class="bucket very dropHere"></div>
		<p class="bucket_name">Very related</p>
	</div>
	<div>
		<div id="somewhat" class="bucket somewhat dropHere"></div>
		<p class="bucket_name">Somewhat related</p>
	</div>
	<div>
		<div id="not" class="bucket not dropHere"></div>
		<p class="bucket_name">Not related</p>
	</div>
</div>

<div id="url"></div>
<div class="center"> <%= button_to 'Submit', {:controller => "matrices", :action => "test", :query_parameters => request.query_parameters, :drinkName => @drink.name} , :method=>:post  %>
</div>