// Place all the styles related to the Matrices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buckets {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bucket {
	border-width: 0.25em;
	border-style: solid;
	height: 15em;
	width: 15em;
	margin-left: 5em;
	margin-right: 5em;
	border-radius: 10em;
}

.very {
	border-color: green;
	&.ui-state-highlight {
		box-shadow: 0 0 0.2em rgba(255,255,255,1) , 0 0 0.4em rgba(255,255,255,1) , 0 0 0.6em rgba(255,255,255,1) , 0 0 0.8em #c9e9d1 , 0 0 1.4em #c9e9d1 , 0 0 1.6em #c9e9d1 , 0 0 2em #c9e9d1 ;
		border-top: hidden;
		background-color: #ffffff; 
	}
}

.somewhat {
	border-color: orange;
	&.ui-state-highlight {
		box-shadow: 0 0 0.2em rgba(255,255,255,1) , 0 0 0.4em rgba(255,255,255,1) , 0 0 0.6em rgba(255,255,255,1) , 0 0 0.8em #ffe4b2 , 0 0 1.4em #ffe4b2 , 0 0 1.6em #ffe4b2 , 0 0 2em #ffe4b2 ;
		border-top: hidden;
		background-color: #ffffff; 
	}
}

.not {
	border-color: red;
	&.ui-state-highlight {
		box-shadow: 0 0 0.2em rgba(255,255,255,1) , 0 0 0.4em rgba(255,255,255,1) , 0 0 0.6em rgba(255,255,255,1) , 0 0 0.8em #FFCCCB , 0 0 1.4em #FFCCCB , 0 0 1.6em #FFCCCB , 0 0 2em #FFCCCB ;
		border-top: hidden;
		background-color: #ffffff; 
	}
}

.bucket_name {
	text-align: center;
}

body {
	margin: 4em !important;
}

.name {
	display: inline-block;
	cursor: all-scroll;
	font-size: 2em;
	font-weight: 400;	
}

.drinkName {
	text-align: center;
	margin-top: 3em;
    margin-bottom: 3em;
    display: inline-block;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.drinkList {
	text-align: center;
}

.center {
	text-align: center;
}
